.login-body
  .login-container
    = render 'layouts/alerts'
    %h1.text-center Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, 'Log in', class: 'btn btn-primary'
= link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-secondary'