.stuk-body
  .stuk-container
    .row
      .col-2
        =link_to('Volver', root_path, class: 'btn btn-secondary')
      .col-8
        %h1.text-center=current_user.email
        %h3.text-center=current_user.grade
      .col-2
        = link_to(destroy_user_session_path, method: :delete, class: 'btn btn-secondary my-search-form') do
          Salir
    %br
    %h2 Añadir usuarios a la máquina:
    %br
    .row
      - @users.each do |user|
        .col-3
          %input.add-user-checkbox{id: "email-#{user.email}", type: 'checkbox', value: user.email}
          %label{for: "email-#{user.email}"}= user.email

:javascript
  $('.add-user-checkbox').on('change', function(){
    if (this.checked){
      $.ajax({
        url: "#{assign_user_machine_path(@machine)}",
        type: 'POST',
        data: {"email": this.value}
      });
    }
    else {
      $.ajax({
        url: "#{unassign_user_machine_path(@machine)}",
        type: 'POST',
        data: {"email": this.value}
      });
    }
  })